@if(isLoading()){
<app-loader></app-loader>
}@else{
<section>
  <div
    class="flex flex-col max-w-7xl p-6 mx-auto bg-gradient-to-t from-red-200 to-gray-600 gap-4"
  >
    <div class="flex flex-col md:flex-row">
      <img
        src="{{ comicDetail()!.thumbnail.path }}/detail.{{
          comicDetail()!.thumbnail.extension
        }}"
        alt="{{ comicDetail()!.title }}"
        class="object-cover w-80 rounded lg:col-start-2 dark:bg-gray-500"
      />
      <div class="p-6 space-y-2 lg:col-start-3 lg:col-end-4">
        <h3
          class="text-3xl text-stone-200 font-semibold sm:text-4xl group-hover:underline group-focus:underline"
        >
          {{ comicDetail()!.title }}
        </h3>
        <span class="text-2xl text-gray-300">{{
          (comicDetail()?.modified?.split("T"))![0]
        }}</span>
        <p class="text-2xl text-gray-300">
          {{ comicDetail()!.description }}
        </p>
      </div>
    </div>

    <div class="flex flex-col md:flex-row">
      @if(comicDetail()?.characters?.available!>0){
      <div class="p-6 space-y-2 flex-1">
        <h3
          class="text-3xl text-stone-200 font-semibold sm:text-4xl group-hover:underline group-focus:underline"
        >
          Characters
        </h3>
        <ul>
          @for(character of (comicDetail()?.characters?.items) ;track
          character){
          <li>
            <a
              [routerLink]="
                '../../characters/' +
                comicDetail()?.resourceURI?.substring(
                  comicDetail()?.resourceURI!.lastIndexOf('/') + 1
                )
              "
              >{{ character.name }}</a
            >
          </li>
          }
        </ul>
      </div>
      } @if(comicDetail()?.series){
      <div class="p-6 space-y-2 flex-1">
        <h3
          class="text-3xl text-stone-200 font-semibold sm:text-4xl group-hover:underline group-focus:underline"
        >
          Series
        </h3>
        <ul>
          <li>
            <a
              [routerLink]="
                '../../series/' +
                comicDetail()?.series?.resourceURI?.substring(
                  comicDetail()?.series?.resourceURI!.lastIndexOf('/') + 1
                )
              "
            >
              {{ comicDetail()?.series?.name }}
            </a>
          </li>
        </ul>
      </div>
      } @if(comicDetail()?.stories){
      <div class="p-6 space-y-2 flex-1">
        <h3
          class="text-3xl text-stone-200 font-semibold sm:text-4xl group-hover:underline group-focus:underline"
        >
          Stories
        </h3>
        <ul>
          @for(story of (comicDetail()?.stories?.items || []) ;track story){
          <li>
            <a
              [routerLink]="
                '../../comics/' +
                comicDetail()?.resourceURI?.substring(
                  comicDetail()?.resourceURI!.lastIndexOf('/') + 1
                )
              "
              >{{ story.name }}</a
            >
          </li>
          }
        </ul>
      </div>
      }
    </div>
  </div>
</section>

}
